.home-button:hover {
  color: white;
  text-decoration: none;
}

.intro-content {
  display: flex;
  flex-direction: row;
  margin: 0 auto;
  align-items: center;
  min-height: 100vh;
}

.intro-left {
  display: flex;
  flex-direction: column;
  gap: 1em;
  flex: 1.5;
}

.intro-left > h1 {
  font-size: 400%;
}

.side-chapters {
  display: flex;
  flex-direction: column;
  gap: 3em;
  flex: 1;
}

.side-chapters > article {
  display: flex;
  flex-direction: column;
  border-radius: 10px;
  gap: 1em;
  padding: 1em;
  background-color: var(--standard-secondary-color);
}

.learn-more {
  text-decoration: underline;
}
