@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand_Book.otf);
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

header,
.content,
footer {
  animation: fade-up 1s;
}

.content,
footer {
  max-width: 90vw;
}

* {
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  color: white;
  font-family: Quicksand;
  font-size: 20px;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(205, 231, 255);
  text-decoration: underline;
}

/* Background */
body {
  /* background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/bg1.png"); */
  background-image: linear-gradient(rgb(0, 0, 0), rgb(18, 5, 58));
  background-size: cover;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Header  */
header {
  position: fixed;
  z-index: 100;
  border-bottom: solid white 1px;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(18, 5, 58));
  width: 100%;
}

.header-content {
  margin: 1em auto;
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-direction: row;
  gap: 2em;
}

nav li {
  border-left: solid white 1px;
  padding: 0 1em 0 1em;
}

nav li:last-child {
  border-right: solid white 1px;
}

nav i {
  margin-left: 0.5em;
  font-size: 16px;
}

ul,
.socials {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.socials {
  gap: 2em;
}

/* Main */
main {
  padding: 3em;
}
