:root {
  --standard-primary-color: rgb(45, 60, 150);
  --standard-primary-color-darker: rgb(28, 39, 104);
  --standard-secondary-color: rgb(24, 22, 78);
  --standard-secondary-color-darker: rgb(13, 12, 48);
  --heading-color: rgb(123, 245, 239);
}

@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand_Book.otf);
}

@keyframes fade-up {
  0% {
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100% {
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

header,
.intro-left,
.side-chapters {
  animation: fade-up 1s;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body,
input,
textarea,
a {
  font-family: Quicksand;
  font-size: 20px;
}

body {
  color: white;
}

a {
  color: white;
  text-decoration: none;
}

a:hover {
  color: rgb(205, 231, 255);
  text-decoration: underline;
}

/* Background */
body {
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../img/bg1.webp");
  /* background-image: linear-gradient(rgb(0, 0, 0), rgb(18, 5, 58)); */
  background-size: cover;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Header  */
header {
  position: fixed;
  z-index: 100;
  border-bottom: solid white 1px;
  background-image: linear-gradient(rgb(0, 0, 0), rgb(10, 5, 58));
  width: 100%;
}

.header-content {
  margin: 1em auto;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  gap: 2em;
  padding-left: 3em;
  padding-right: 3em;
}

nav li {
  border-left: solid white 1px;
  padding: 0 1em 0 1em;
}

nav li:last-child {
  border-right: solid white 1px;
}

nav i {
  margin-left: 0.5em;
  font-size: 16px;
}

ul {
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

/* Main */
main {
  display: flex;
  flex-direction: column;
  gap: 10em;
  padding-left: 3em;
  padding-right: 3em;
}

h2 {
  margin-bottom: 1em;
  font-size: 250%;
}

h3 {
  font-size: 150%;
}

article > h3 {
  color: var(--heading-color);
}

article,
.contact-row {
  background-color: rgba(24, 22, 78, 0.637);
}

.top-section {
  background-color: rgba(45, 61, 150, 0.644);
}

/* Footer */
footer {
  background-image: linear-gradient(rgb(10, 5, 58), rgb(0, 0, 0));
  text-align: center;
  padding: 1em;
  border-top: solid white 1px;
}
