@font-face {
  font-family: Quicksand;
  src: url(../fonts/Quicksand_Book.otf);
}

@keyframes fade-up{
  0%{
    opacity: 0;
    transform: translateY(30px) scale(0.9);
  }

  100%{
    opacity: 1;
    transform: translateY(0px) scale(1);
  }
}

header, .content, footer{
  animation: fade-up 1s;
  max-width: 80vw;
}

*{
  margin: 0;
  padding: 0;
}

html, body {
  height: 100%;
  color: white;
  font-family: Quicksand;
  font-size: 20px;
}

a{
  color: white;
  text-decoration: none;
}

a:hover{
  color: rgb(205, 231, 255);
  text-decoration: underline;
}

/* Background */
body{
  background-image: linear-gradient(rgba(0,0,0,0.6), rgba(0,0,0,0.6)), url("../img/bg1.png");
  /* background-image: linear-gradient(rgb(0, 0, 0), rgb(18, 5, 58)); */
  background-size: cover;
  min-height: 100%;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* Header  */
header{
  margin: 1em auto;
  display: flex;
  flex-wrap: row wrap;
  justify-content: space-between;
  align-items: center;
}

nav li{
  border-left: solid white 1px;
  padding: 0 2em 0 2em;
}

nav li:last-child{
  border-right: solid white 1px;
}

nav i{
  margin-left: 0.5em;
  font-size: 16px;
}

ul, .socials{
  list-style-type: none;
  display: flex;
  flex-direction: row;
}

.socials{
  gap: 2em;
}

/* Dropdown */
.dropdown{
  cursor: pointer;
  position: relative;
}

.dropdown:hover{
  color: rgb(205, 231, 255);
  text-decoration: underline;
}

.dropdown-content{
  display: none;
  position: absolute;
  background-color: rgba(7, 0, 107, 0.534);
}

.dropdown-content:hover{
  
}

.dropdown-content a {
  color: rgb(205, 231, 255);
  padding: 12px 16px;
  text-decoration: none;
}

.dropdown-content a:hover {
  color: rgb(164, 193, 221);
  background-color: rgba(2, 0, 31, 0.534);
  text-decoration: underline;
}

.dropdown-content-layout{
  display: flex;
  flex-direction: column;
  gap: 0.2em;
}

.dropdown:hover .dropdown-content{
  display: block;
}

/* Main */
.content{
  padding: 3em;
}